body {
    font-family: 'Montserrat', serif;
     font-weight: 400;
}
 h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
 .card {
    margin-bottom: 2rem;
}
 a {
    color: #2586BB;
    text-decoration:none;
}
 a:hover {
    color: #25A5D1;
    text-decoration:underline;
}
 .jumbotron {
    background: rgb(38,33,115);
     background: linear-gradient(135deg, rgba(38,33,115,1) 0%, rgba(37,229,255,1) 100%);
     border-radius:0px;
}
 .jumbotron h1 {
    margin-bottom: 1.5rem;
}
 .jumbotron p.p1, .jumbotron p.p2 {
    margin-bottom: 0.3rem;
}
 .jumbotron h1 a, .jumbotron h1 a:hover, .jumbotron h1 a:active, .jumbotron h2 a, .jumbotron h2 a:hover, .jumbotron h2 a:active, .jumbotron p, .jumbotron p a, .jumbotron p a:hover, .jumbotron p a:active {
     color: #FFF;
}
 .blog * {
    font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     margin-bottom: 2rem;
}
 .blog p {
    font-size: 1.15rem;
     line-height: 1.75rem;
}
 .blog strong {
    font-weight: bolder;
}
 .blog p a {
    text-decoration: underline;
}
 .blog blockquote {
    border-right: 1px solid #CCC;
     background: #EEE;
     padding: 2rem;
     border-radius: 2rem;
}
 .blog blockquote p {
    margin-bottom: 0;
     font-size: 1.35rem;
}
 .blog ul, .blog ol {
    margin-bottom: 0.5rem;
     margin-top: 1.5rem;
}
 .blog ul li, .blog ol li {
    font-size: 1.25rem;
     margin-bottom: 1.4rem;
}
 .post-title {
    font-size: 2.15rem;
     letter-spacing: -0.025rem;
}
 .img-full {
    width: 100%;
    margin-bottom: 2rem;
}
 a h5.blgpst-cvr-ttl:hover {
    text-decoration:none;
}
 .blgpst-cvr-ttl {
     font-size:15px;
     font-weight: 400;
     color:#888;
     line-height: 1.35rem;
}
 .crd-blgpst-cvr:hover {
     box-shadow: 0px 3px 30px 3px #EEEEEE;
     background: #FFFFFF;
     animation: mymove 5s 1;
}
 @keyframes mymove {
     from {
        background-color: #FFFFFF;
    }
     to {
        background-color: #F0F0F0;
    }
}
 .blog .conversation {
     font-style: italic;
     list-style: none;
     padding: 3rem;
     background: #6c6c6c;
     padding-bottom: 2rem;
     color: white;
     margin-bottom: 2rem;
}
 .blog .conversation li {
     font-size: 1.1rem;
     margin-bottom: 0.75rem;
}
 
